@font-face {
    font-family: "formule1";
    src: url(Formule1.ttf);
  }

body{
    margin: 0;
    font-family: formule1, sans-serif;
}

/* Header */
.divLogo{
    position: absolute;
    width: 100%;
    height: 63px;
    top: 15px;
    text-align: center;
    z-index: 0;
    border-bottom: solid 1px #EE0000;
}

.divF1{
    width: 100%;
    text-align: center;
}

.logo{
    width: 200px;
    height: 50px;
}

.divMenu{
    text-align: center;
    margin: auto;
}

.menu{
    width: 40px;
    height: 40px;
}

/* Container */

.titre{
    text-align: center;
    color: #eeeeee;
    margin-top: 25px;
}
.divParent{
    display: flex;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    align-items: center;
    flex-wrap: wrap;

}

.divGp{

    display: flex;
    align-items: center;
    height: 35px;
    width: 92%;
}

.flagGp{
    width: 25px;
    height: 20px;
    margin: 0 10px;
    border-radius: 3px;
}

.pGp{
    color: white;
    margin:0;
}

.chevron{
    background-color: white;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.divInfo{
    background-color: black;
    width: 100%;
    border-top: 2px #EE0000 solid;
    text-align: center;
}

.pCourse{
    color: white;
    margin: 7px 0;
}

.pFirst{
    color: white;
    margin: 10px 0;
}

.pSecond{
    margin: 10px 0;
    color: white;
}

.pTrois{
    margin: 10px 0;
    color: white;
}

.pDate{
    color: white;
}

.pHeure{
    color: white;
}

/* Footer */

.footer{
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: 10px;
    border-top: 2px #EE0000 solid;
    color: white;
    text-align: center;
}

.source{
    font-size: 10px;
}

.source a{
    text-decoration: none;
    color: white;
}

.source a:hover{
    color: #EE0000;
}