@font-face {
    font-family: "formule1";
    src: url(Formule1.ttf);
  }

body{
    margin: 0;
    font-family: formule1, sans-serif;
}
.divLogo{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color: black;
    border-bottom: 2px #EE0000 solid;
}

.logo{
    width: 300px;
    height: 100px;
}

.divParent{
    display: flex;
    width: 100%;
    background-color: black;
    margin-top: 10px;
    align-items: center;

}

.divGp{

    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
}

.flagGp{
    width: 25px;
    height: 20px;
    margin: 0 10px;
    border-radius: 3px;
}

.pGp{
    color: white;
    margin:0;
}

.chevron{
    background-color: white;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.divInfo{
    background-color: #EE0000;
    width: 10px;
    height: 10px;
}